/**This is the styling for a check box "INSslider".
 This styling uses "webkit transformation" to provide crude animation the the slider,
 which helps distinguish between on and off states.*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.INSslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.INSslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .INSslider {
  background-color: #2196F3;
}

input:checked + .INSslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.INSslider {
  border-radius: 34px;
}

.INSslider:before {
  border-radius: 50%;
}